
    <%= form_with html: {class: 'productform'}, model: student do |f| %>

        <div class="mb-3">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control"%>
            <% student.errors.full_messages_for(:first_name).each do |msg| %>
                <div class="error-msg">
                    <%= msg %>
                </div>
                
            <% end %>
        </div>

        <div class="mb-3">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
            <% student.errors.full_messages_for(:last_name).each do |msg| %>
                <div class="error-msg">
                    <%= msg %>
                </div>
                
            <% end %>
        </div>

        <div class="mb-3">
            <%= f.label :department %>
            <%= f.text_field :department, class: "form-control" %>
            <% student.errors.full_messages_for(:department).each do |msg| %>
                <div class="error-msg">
                    <%= msg %>
                </div>
                
            <% end %>
        </div>

        <div class="mb-3">
            <%= f.label :birthdate %>
            <%= f.date_field :birthdate, class: "form-control" %>
            <% student.errors.full_messages_for(:birthdate).each do |msg| %>
                <div class="error-msg">
                    <%= msg %>
                </div>
                
            <% end %>
        </div>

        <a href="/terms">Terms & Condition</a>
        <%# =================== Modal ============================ %>

        <%# button %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>hello</p>
                <p>hello</p>
                <p>hello</p>
                <p>hello</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>

<%# =================================================================================== %>
        <div class="mb-3">
            <%= f.label :agree %>
            <%= f.check_box :agree %>
            <% student.errors.full_messages_for(:agree).each do |msg| %>
                <div class="error-msg">
                    <%= msg %>
                </div>
                
            <% end %>
        </div>

        <div class="mb-3">
            <%= f.submit %>
        </div>
    <% end %>
