<div class="registration">
  <br>
  <h1 style="color:Darkblue">Author-Info</h1>
  <br>
  <div class="productform" >
    <% if @author.image.attached? %>
      <p><%= image_tag @author.image %></p>
    <% end %>
    <table>
      <tr>
      <th>ID</th>
        <th>First_Name</th>
        <th>Last_Name</th>
        <th>DOB</th>
        <th>E-mail</th>
      </tr>

      <tr>
        <td><%= @author.id %></td>
        <td><%= @author.first_name %></td>
        <td><%= @author.last_name %></td>
        <td><%= @author.dob %></td>
        <td><%= @author.email %></td>
      </tr>
    </table>
  </div>
<br>
  
  <%= link_to "Author Home", authors_path, class: "btn btn-info" %>
  <br>

  <%# ===================    Book   ============================= %>

  <h2><%= @author.first_name %>'s Books</h2>
  <div class="productform" >
    <table>
    <% @author.books.each do |book| %>
        
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
        <th rowspan="2" style="justify-self:center;">
          <% if book.images.attached? %>
            <%= image_tag book.images %>
          <% end %>
        </th>
      </tr>

          <tr>
            <td><%= book.id %></td>
            <td><%= book.name %></td>
            <td><%= book.price %></td>
            <th><a class="btn btn-info" style="background-color:green; color:white" href="/books/edit/<%= book.id %>">
                            Update
                  </a></th>  
            <th><%= link_to "Delete", book_path(book), class:"btn btn-danger", data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?" 
                        } %></th>  
          </tr>
        <% end %>
    </table>
    
    </div>
    <br>
    <a class="btn btn-info" href="/books/new/<%= @author.id %>" >
        Publish New Book
    </a>
  
</div>
